{% extends 'base.html' %}
{% block about %}
    <html>
    <body>
    <div class="marketing" style="background-color: rgba(65,54,50,0.99)">
    <p about="History" align="left" style="font-style: unset"> School Diary app was started by Dr.Ayush Sharma and
    Coder Vikas Verma. After the hard work of six month ,App was implemented. This app has very interesting Thing,
    the idea of this app got to Dr.Ayush sharma when they were having the shots of Kingfisher Beer.</p>
    </div>
    </body>
    </html>
{% endblock about%}